<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>feedback</title>
  </head>
  <body>
    <section class="section-feedback">
      <div class="div-feedback">
        <div class="div-form">
          <h2 class="h-feedback">Залишились питання? Зв'яжіться з нами!</h2>
          <p class="p-feedback">Ми тут, щоб допомогти!</p>

          <form class="form-feedback">
            <ul class="feedback-list">
              <li class="feedback-item">
                <label class="label-feedback" for="user-name">Ім'я</label>
                <input
                  class="imp-feedback"
                  type="text"
                  id="user-name"
                  name="user-name"
                  placeholder="Іван"
                />
              </li>

              <li class="feedback-item">
                <label class="label-feedback" for="user-email"
                  >Електронна пошта</label
                >
                <input
                  class="imp-feedback"
                  type="email"
                  id="user-email"
                  name="user-email"
                  placeholder="hello@ecotote.com"
                />
              </li>

              <li class="feedback-item inp-textar">
                <label class="label-feedback" for="message">Повідомлення</label>
                <textarea
                  class="textarea-feedback"
                  id="message"
                  name="message"
                  placeholder="Введіть своє повідомлення..."
                ></textarea>
              </li>
            </ul>

            <button class="btn-feedback" type="submit">Надіслати</button>
          </form>
        </div>
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ../img/feedback/feedback_desk_paket@1x.jpg 1x,
              ../img/feedback/feedback_desk_paket@2x.jpg 2x
            "
          />
          <source
            media="(min-width:767px)"
            srcset="
              ../img/feedback/feedback_tabl_paket@1x.jpg 1x,
              ../img/feedback/feedback_tabl_paket@2x.jpg 2x
            "
          />
          <img
            class="img-feedback"
            src="../img/feedback/feedback_paket@1x.jpg"
            srcset="
              ../img/feedback/feedback_paket@1x.jpg 1x,
              ../img/feedback/feedback_paket@2x.jpg 2x
            "
            alt="paket_:D"
          />
        </picture>
      </div>
    </section>
  </body>
</html>
